/* Define color variables used in CSS module */
:root {

    /* Portfolio Colors */
    --black: #080808;
    --blue: #3c7cbd;    
    --white: #fff;
    --red: #ff004f;
    --palered: #b54769;
    --paleblue: #395b7d;
    --lightgrey: #ababab;
    --mediumgrey: rgba(255,255,255,.3);
    --darkgrey: #262626;
    --paleyellow: #eee88a;
    --darkerpaleblue: #2e4352;

    /* Set global animation speeds. */
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}


/* Font Settings for Portfolio */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


/* Main HTML behovior and Background Colors */
html {
    scroll-behavior: smooth;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: var(--black);
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(to right, var(--paleblue), var(--darkgrey), var(--black));
    background: -moz-linear-gradient(   to right, var(--paleblue), var(--darkgrey), var(--black));
    background: -ms-linear-gradient(    to right, var(--paleblue), var(--darkgrey), var(--black));
    background: -o-linear-gradient(     to right, var(--paleblue), var(--darkgrey), var(--black));
    background: linear-gradient(        to right, var(--paleblue), var(--darkgrey), var(--black));
}


/* Main Body settings. */
body {
    color: var(--white);
}


/* Added to show when the system is in progress but 
   interaction with the application is still available. 
   See Use: forms.js */
body.waiting * {
    cursor: progress;
}


/* Used for each section of the HTML Elements to ensure
   each page is identical on the screen. */
.container {
    padding: 10px 4%;
}


/* Used to show text with an etched edge. */
.etched-text-title {
    color: var(--black);
    text-shadow: 0px 3px 20px var(--black), 0px -1px 2px var(--lightgrey), 0px -2px 10px var(--white);
}

/* Used to show (light) shadow effects behind an object. */
.box-blue-extra-lightshadow {
    border-color: var(--paleblue);
    border-radius: 15px;
    box-shadow: inset 0px 0px 8px var(--darkgrey), 0 0 95px var(--blue);
    background-color: var(--paleblue);
}
.box-grey-low-lightshadow {
    padding-left: 5px;
    padding-right: 5px;
    border-color: var(--darkgrey);
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px var(--darkgrey), 0 0 8px var(--lightgrey);
    background-color: var(--lightgrey);
}
.box-grey-extra-lightshadow {
    padding-left: 5px;
    padding-right: 5px;
    border-color: var(--darkgrey);
    border-radius: 4px;
    box-shadow: inset 0px 0px 8px var(--darkgrey), 0 0 95px var(--lightgrey);
    background-color: var(--lightgrey);
}

/* .text-yellow-lightshadow {
    padding-left: 5px;
    padding-right: 5px;
    border-color: var(--paleyellow);
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px var(--blue), 0 0 8px var(--lightgrey);
    background-color: var(--paleyellow);
}
.text-white-lightshadow {
    padding-left: 5px;
    padding-right: 5px;
    border-color: var(--white);
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px var(--darkgrey), 0 0 8px var(--lightgrey);
    background-color: var(--white);
} */

/* Create a softened edge on an object. */
.soften-edge-white {
    box-shadow: inset 0 0 8px 8px var(--white);
}
.soften-edge-grey {
    box-shadow: inset 0 0 8px 8px var(--lightgrey);
}
.soften-edge-darkgrey {
    box-shadow: inset 0 0 8px 8px var(--darkgrey);
}
.soften-edge-blue {
    box-shadow: inset 0 0 8px 8px var(--blue);
}
.soften-edge-paleblue {
    box-shadow: inset 0 0 8px 8px var(--paleblue);
}
.round-edges {
    border-radius: 15px;
}
.shadow-behind {
    filter: drop-shadow(15px 15px 7px var(--darkgrey));
}



/* ********************************** */
/*          H O M E   P A G E         */
/* ********************************** */
#home {
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url("../../images/ImageWithNoBkgrnd.png");
    background-position-y: bottom;
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: 43vh;
}

.logo, .logo-init, .logo-dev {
    width: auto;
    font-size: 42px;
    font-weight: 600;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo-init {
    color: var(--darkgrey);
}

.logo-dev {
    height: auto;
    width: auto;    
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.logo-size {
    width: 30px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;    
}

nav ul li a {
    color: var(--paleyellow);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--blue);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.25s;
}

nav ul li a:hover::after {
    width: 100%
}

/* #home img {
    height: auto;
    width: auto;
    position: absolute;    
}  */



/* ********************************** */
/*       H O M E   F O O T E R        */
/* ********************************** */
#home-footer {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0px;
    background-image: linear-gradient(to bottom, var(--paleblue), var(--black), var(--darkgrey));
} 

.footer-text {
    height: auto;
    width: auto;
    font-size: 3vh;
    align-content: center;
    text-align: center;
    padding: 5px 5px;
}

.footer-text h1 {
    font-size: 5vh;
    color: var(--blue);
}



/* ********************************** */
/*        A B O U T   P A G E         */
/* ********************************** */
#about {
    display: none;
    width: 100vw;
    height: 100vh;
    color: var(--lightgrey);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: var(--white);
}

.tab {
    margin-left: 15px;
}

.tab-titles {
    display: flex;
    margin: 20px 0px 40px;
}

.tab-underline {
    height: 0px;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    color: var(--darkerpaleblue);
    margin-top: -25px;
}

.tab-links {
    margin-right: 50px;
    color: var(--paleyellow);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--blue);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.25s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-links:hover::after {
    width: 100%
}

.tab-contents ul li {
    list-style: none;
    color: var(--white);
    font-weight: 600;
    margin: 10px 0px;
}

.tab-contents ul li span {
    color: var(--mediumgrey);
    font-weight: 400;
    font-size: 14px;
}

.tab-text-headings {
    font-weight: 200;
    color: var(--lightgrey);
}

.tab-contents {
    display: none;    
}

.tab-contents.active-tab {
    display: block
}



/* ********************************** */
/*         W O R K   P A G E          */
/* ********************************** */
#portfolio {
    display: none;
    width: 100vw;
    height: 100vh;
    padding: 30px 0px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0px 0px 8px var(--black), 0 0 15px var(--blue);
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transform: transform 0.5s;    
}

.layer {
    width: 100%;
    height: 0px;
    background: linear-gradient(var(--black), var(--blue));
    border-radius: 10px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    font-size: 12px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 10px;
}

.layer a {
    margin-top: 10px;
    color: var(--blue);
    text-decoration: none;
    font-size: 12px;
    line-height: 25px;
    background-color: var(--white);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.work-click-image {
    width: 100%;
    height: auto;
    color: var(--lightgrey);
    text-align: center;
}

.work-deploy-icon {
    width: 100%;
    height: auto;
    font-size: larger;
    font-weight: 600;
    color: var(--paleyellow);
    text-align: center;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border:  1px solid var(--darkgrey);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--white);
    font-size: smaller;
    background-color: transparent;
    transition: background 0.5s;
    box-shadow: inset 0px 0px 2px var(--darkgrey), 0 0 8px var(--paleblue);
}

.btn:hover {
    background-color: var(--blue);
}


/* ********************************** */
/*      C O N T A C T   P A G E       */
/* ********************************** */
#contact {
    display: none;
    width: 100vw;
    height: 100vh;
    padding: 30px 0px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: var(--blue);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons i {
    padding: 10px 0px;
    padding-right: 5px;
}

.social-icons a {
    text-decoration: none;
    font-size: 22px;
    margin-right: 15px;
    color: var(--lightgrey);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: var(--paleyellow);
    transform: translateY(-5px);
}

.ext-btn {
    display: inline-block;
    box-shadow: inset 0px 0px 2px var(--darkgrey), 0 0 8px var(--paleblue);
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background-color: var(--darkgrey);
    padding: 15px;
    margin: 15px 0px;
    color: var(--white);
    font-size: 18px;
    border-radius: 6px;
    box-shadow: inset 0px 0px 5px var(--darkgrey), 0 0 2px var(--white);
}

.inputField:hover {
    box-shadow: inset 0px 0px 5px var(--darkgrey), 0 0 15px var(--white);
    cursor: pointer;
}

.inputField:focus {
    background-color: var(--white);
    color: var(--black);
}

form .btn {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;    
}

#msg {
    color: var(--paleyellow);
    font-size: larger;
    margin-top: -40px;
    display: block;
}


/* ********************************** */
/*       R E S U M E   P A G E        */
/* ********************************** */
#resume {
    display: none;
    width: 100vw;
    height: 110vh;
    justify-content: center;
}

/* #resume iframe {
    width: 90vw;
    height: 100vh;
    margin-bottom: 40px;
    border-width: 0px;
    border-radius: 15px;
    box-shadow: inset 0px 0px 8px var(--black), 0 0 18px var(--blue);
} */

#resume img {
    width: 90vw;
    height: auto;
    margin-bottom: 40px;
    border-width: 0px;
    border-radius: 3px;
}


/* ********************************** */
/*          Navigation Icons          */
/* ********************************** */
/* Show/Hide Menu Open and Close Bars. */
nav .fas {
    display: none;
    padding: 20px 20px;
}



/* ********************************** */
/*         CSS Small Screens          */
/* ********************************** */

/* Tablet sizes and Below */
@media only screen and (max-width: 1160px) { 

    .sub-title {
        font-size: 50px;   
    }

    nav .fas {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    
    nav ul {
        background-color: var(--paleblue); 
        position: fixed;
        top: 0px;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;        
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        right: 25px;
    }
    
    .close-menu {
        border-width: 2px;
        border-color: var(--darkgrey);
        border-radius: 6px;
    }

    .open-menu {
        position: absolute;
        top: 25px;
        right: 25px;
        border-width: 2px;
        border-color: var(--darkgrey);
        border-radius: 6px;
    }

    .logo-dev {
        font-size: 1rem;
    }
    
    .sub-title {
        font-size: 40px;   
    }

    .about-col-1, .about-col-2  {
        flex-basis: 100%;
    }

    .about-col-1 img {
        width: 65%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%
    }

}

